---
import Teams from '../components/Teams.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-4xl font-bold mb-6">About Us</h1>
  <p class="text-lg text-gray-600 mb-6">
	We are a team of passionate developers building modern websites and applications.
  </p>
  <p class="text-lg text-gray-600 mb-6">
	We love open-source and sharing our knowledge with the community.
  </p>
  <p class="text-lg text-gray-600 mb-6">
	Our team is distributed around the world, working remotely to build amazing products.
  </p>
  <p class="text-lg text-gray-600 mb-6">
	We are always looking for talented developers to join our team.
  </p>
  
	<Teams />
</Layout>
