---
import Teams from '../components/Teams.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-4xl font-bold mb-6">About Us</h1>
  <p class="text-lg text-gray-600 mb-6">
    At Spirit of Psyche, we are dedicated to empowering individuals on their journey to emotional well-being and personal growth. Founded with a passion for psychology and a commitment to making a positive impact, our mission is to provide evidence-based counseling services, educational resources, and guidance to help you navigate life’s challenges.
  </p>
  <p class="text-lg text-gray-600 mb-6">
    Our team is led by Mubasher Ali, a certified counseling professional and psychology researcher with extensive experience in fostering emotional resilience, resolving complex neurotic challenges, and promoting personal and relational growth. Using a compassionate and client-centered approach, we focus on creating tailored solutions that empower you to overcome obstacles and unlock your potential.
  </p>
  <p class="text-lg text-gray-600 mb-6">
    We believe that mental well-being is the foundation for a fulfilling and meaningful life. Whether you're seeking support for stress management, relationship issues, or personal development, we offer a safe, supportive space for self-discovery and transformation.
  </p>
  <p class="text-lg text-gray-600 mb-6">
    <h1 class="text-2xl font-bold mb-6">Why Choose Us?</h1>
    <ul class="text-lg text-gray-600 mb-6">
        <li><strong>Expertise You Can Trust:</strong> Our services are rooted in evidence-based practices and guided by years of research and experience.</li>
        <li><strong>Holistic Approach:</strong> We address your unique needs, blending psychological science with personalized strategies for lasting change.</li>
        <li><strong>Empowering Growth:</strong> Beyond addressing challenges, we aim to inspire and empower you to lead a more balanced and purposeful life.</li>
    </ul>
    <p>At Spirit of Psyche, we are here to walk with you every step of the way. Let’s work together to create a brighter, more mindful future.</p>
    <p><a href="#services" class="btn">Discover more about our services</a> or <a href="#contact" class="btn">get in touch</a> to start your journey today.</p>
  </p>
  
  <h2 class="text-2xl font-bold mt-6 mb-6">Our Team</h2>
	<Teams />
</Layout>
