<header class="flex justify-between items-center p-4 w-full px-24 max-sm:px-10 py-10">
    <h1 class="uppercase font-extrabold text-2xl"> Spirit of Psyche </h1>
    <nav>
        <ul class="flex space-x-4 font-bold text-lg">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
</header>